<% provide(:title, "Map List" ) %>
<ul>
  <% @maps.group_by(&:map_type_id).each do |type, maps| %>
    <li ><%= maps[0].map_type.name %>
    <ul >
      <% maps.each do |map|%>
        <li>
        <%= link_to map.name, map %> 
        <div>
        <span><%= map.liked_by.count %></span>
        <span><%= map.hated_by.count %></span>
        </div>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>
</ul>

