<% provide(:title, "Map List" ) %>
<ul>
  <% @maps.group_by(&:map_type_id).each do |type, maps| %>
    <li ><%= maps[0].map_type.name %>
    <ul >
      <% maps.each do |map|%>
        <li>
        <%= link_to map.name, map %> 
        <% if map.liked_by.count > 0 %><span class="up-vote"><%= map.liked_by.count %><i class="icon-thumbs-up"></i></span><% end %>
        <% if map.hated_by.count > 0 %><span class="down-vote"><%= map.hated_by.count %><i class="icon-thumbs-down"></i></span><% end %>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>
</ul>

