<% provide(:title, "Map List" ) %>
<div class="container">
  <ul>
    <% @map_types.each do |type, maps| %>
      <li ><%= type.name %>
      <ul >
        <% maps.each do |map|%>
          <li>
          <%= link_to map.name, map %> 
          </li>
        <% end %>
      </ul>
      </li>
    <% end %>
  </ul>

</div>

<% if current_user.admin? %>
<%= link_to "Add Map", new_map_path %>
<% end %>
