<% provide(:title, "Map List" ) %>
<ul>
  <% @maps.group_by(&:map_type_id).each do |type, maps| %>
    <li ><%= maps[0].map_type.name %>
    <ul >
      <% maps.each do |map|%>
        <li>
        <%= link_to map.name, map %> 
        <div>
          <span class="up-vote"><%= map.liked_by.count %><i class=".icon-thumbs-up"></i></span>
          <span class="down-vote"><%= map.hated_by.count %><i class=".icon-thumbs-down"></i></span>
        </div>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>
</ul>

