<% maps.each do |map| %>
  <div class="thumbnail-wrapper">
    <%= image_tag(smart_map_image_url(map.name), class: "img-rounded map-thumbnail") %>
    <p class="label label-inverse photo-label thumbnail-text"><%= map.name %></p>
  </div>
<% end %>
