<%= simple_form_for ApiKey.new do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @api_keys.each do |ak| %>
    <tr>
      <td>ak.name</td>
      <td>ak.access_token</td>
      <td><%= button_to "delete", ak, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
