@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */
 
$grayMediumLight: #eaeaea;
 
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
 

.thumbnail-wrapper  .thumbnail_text {
    position: relative;
    bottom: 30px
    left: 0px;
    visibility: hidden;
}
.thumbnail-wrapper:hover .thumbnail_text {
    visibility: visible;
}

body {
    padding-top: 100px;
}

@media (max-width: 979px){
    body {
        padding-top: 0px;
    }
}

footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}
.push {
    height: 63px;
}

/* miscellaneous */
 
.debug_dump {
  background-color: $grayMediumLight;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
